fastapi[standard]
pydantic
langchain
langgraph
langchain-openai
langchain-community
langchain-chroma
chromadb==0.5.23
httpx
motor
pymongo
aiokafka
python-dotenv
sentence-transformers
torch
transformers
scikit-learn
accelerate
